---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
//import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'ISAKA | Industrial Consumables Supplier',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  id="hero"
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'mailto:info@isakaconsult.co.za',
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#about' },
    ]}
    image={{ src: '~/assets/images/hero-real.jpg', alt: 'ISAKA Hero Image'}}
  
  >
    <Fragment slot="title">
      Reliable Partner in<span class="hidden xl:inline"> Industrial</span>
      <span class="text-accent highlight"> Procurement Solutions</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Leading Supplier of Industrial Consumables, </span>  Hospitality Equipment, PPE, Cleaning
        Supplies, Laundry Equipment, and Mining Machinery</span
      >
      <span class="block mb-1 sm:hidden text-white-light dark:text-white">Leading Supplier of Industrial Consumables</span>
       <!-- Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages
      & Blogs. -->
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
<!-- 
  <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="about"
    tagline="About"
    title="What you get with Isaka"
    subtitle="One of the most professional and comprehensive consultants in the sector. Most trusted  service provider in 2024."
    items={[
      {
        title: 'Quality',
        description:
          ' Ensuring top-notch products and services.',
        icon: 'tabler:certificate-2',
      },
      {
        title: 'Customer Service',
        description:
          'Dedicated support for all your needs.',
        icon: 'tabler:user-question',
      },
      {
        title: 'Environmental Sustainability',
        description:
          'Equitably contributing to climate change and a greener future.',
        icon: 'tabler:tree',
      },
      {
        title: 'Safety & Compliance',
        description:
          "Surpassing industry standards for a more effective supply chain.",
        icon: 'tabler:scan-eye',
      },
      {
        title: 'B-BBEE',
        description:
          'Level 1 B-BBEE Certification. 100+ Score',
        icon: 'tabler:certificate',
      },
      {
        title: 'Procurement Recognition',
        description:
          '135% Procurement recognition level.',
        icon: 'tabler:user-scan',
      },
    ]}
  />

    
 <!-- Stats Widget ****************** -->

 <Stats
 id="stats"
 tagline="Statistics"
 stats={[
   { title: 'Projects Completed', amount: '50+' },
   { title: 'Revenue', amount: '13M' },
   { title: 'Countries Served', amount: '6' },
   { title: 'Clients Served', amount: '25+' },
 ]}
/>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="services"
    tagline="Products & Services"
    title="Supplier Excellence, Client Collaboration"
    items={[
      {
        title: 'PPE & Safety Gear',
        description:
          '',
      },
      {
        title: 'Industrial Supplies',
        description:
          '',
      },
      {
        title: 'Mining Machinery',
        description:
          '',
      },
      {
        title: 'Tools & Hardware',
        description:
          '',
      },
      {
        title: 'Electrical Components',
        description:
          '',
      },
      {
        title: 'Maintenance & Repair Products',
        description:
          '',
      },
      {
        title: 'Material Handling Equipment',
        description:
          '',
      },
    ]}
    image={{
      src: '~/assets/images/INVMANSROKCPHOTO.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Explore Our Product Range</h3>
      Discover Our Range of Innovative Products and Gain a Competitive Edge
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- Features2 Widget ************** -->

    <Features2
    title="Countries"
    tagline="We Serve"
    columns={3}
    items={[
      {
        title: 'France',
        description: 'Paris'
      },
      {
        title: 'South Africa',
        description: 'Johannesburg'
      },
      {
        title: 'D.R.C',
        description: 'Lubumbashi'
      },
    ]}
  />


  

   <!-- CallToAction Widget *********** -->

   <CallToAction
   actions={[
     {
       variant: 'primary',
       text: 'Contact Us',
       href: 'mailto:info@isakaconsult.co.za',
       target: '_blank',
       icon: 'tabler:mail',
     },
   ]}
 >

 
   <Fragment slot="title">
     Ready,&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Lets talk...</span>
   </Fragment>

   <Fragment slot="subtitle">
     What are you waiting for, give us a call and lets get started
   </Fragment>
 </CallToAction>




  <!-- HighlightedPosts Widget ******* -->
 
  <BlogLatestPosts
    id="sectors"
    title="Industries we serve"
    subtitle="Tailored Solutions for Diverse Industries and Sectors"
    tagline="Sectors"
  />

  <!-- Brands Widget ****************** -->

<Brands
title="Standards & Regulations"
subtitle="At Isaka, we believe in the power of safety & compliance to drive innovation and create exceptional experiences."
icons={[]}
images={[
  {
    src: 'https://upload.wikimedia.org/wikipedia/commons/6/60/SABS_logo.png',
    alt: 'SABS',
  },
  {
    src: 'https://www.arenasolutions.com/wp-content/uploads/what-is-iso.png',
    alt: 'ISO',
  },
  {
    src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGE9XYsXfeqZJGPlLcnG6hVlortUQTfpXaHS8gmvmJA&s',
    alt: 'OHSA',
  },
  {
    src: 'https://www.sanas.co.za/Pages/images/sanas-logo.svg',
    alt: 'SANAS',
  },
  {
    src: 'https://satas.co.za/wp-content/uploads/2021/07/SATAS-logo-email.png',
    alt: 'SATAS',
  },
]}
/>


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What our users say?"
    testimonials={[
    {
      "testimonial": " Their expertise spans across various sectors, making them a trusted partner for our procurement needs.",
      "name": "Cary Kennedy",
      "job": "Project Manager",
      "image": {
        "src": "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
        "alt": "Cary Kennedy Image"
      }
    },
    {
      "testimonial": "I'm impressed by Isaka's ability to understand the unique challenges of different industries.",
      "name": "Josh Wilkinson",
      "job": "Director",
      "image": {
        "src": "https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
        "alt": "Josh Wilkinson Image"
      }
    },
    {
      "testimonial": "Isaka's professionalism and attention to detail have exceeded our expectations.",
      "name": "Sidney Hansen",
      "job": "Specialist",
      "image": {
        "src": "https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
        "alt": "Sidney Hansen Image"
      }
    }

    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: '-',
      icon: 'tabler:chevron-right',
    }}
  />


<Steps2
    id="contact"
    title="Contact us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact form',
      // href: 'https://wa.me/27642345962',
      href: getPermalink('/contact'),
    }}
    items={[
      {
        title: 'Phone',
        description: '064-234-5962',
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'info@isakaconsult.co.za',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '7 Bruton Street, Brynston, 2021, Johannesburg, South Africa',
        icon: 'tabler:map-pin',
      },
    ]}
  />


  <!-- Steps Widget ****************** -->

  <Steps
    title="Just a few simple steps..."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us</span>',
        description:
          "Get in touch with us to discuss your requirements and get started.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose Products & Services</span>',
        description:
          "Select the products and services that best suit your needs.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Get a Quote</span>',
        description:
          "We'll provide you with a customized quote based on your selections.",
        icon: 'tabler:paint',
      },
      {
    
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/steps.jpg',
      alt: 'Steps image',
    }}
  />


 <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    items={[
      {
      title: 'How can I place an order?',
      description: 'For telephone orders, call +27 64 234 5962. For email orders, send your request to info@isakaconsult.co.za.',
    },
    {
      title: 'What are the shipping options within South Africa?',
      description: 'Shipping costs depend on the order quantity. Please contact us for specific shipping rates.',
    },
    {
      title: 'What are the shipping options for Lubumbashi, DRC?',
      description: 'The plate number is 3 USD/Kg, and the delivery time is 10-12 days from dispatch.',
    },
    {
      title: 'What are the shipping options for Kinshasa, DRC?',
      description: 'The plate number is 5 USD/Kg, and the delivery time is 10-12 days from dispatch.',
    },
    {
      title: 'Do you offer bulk discounts?',
      description: 'Yes, we provide discounts on bulk orders to help you save costs and streamline your procurement process.',
    },
    {
      title: 'What payment methods do you accept?',
      description: 'Purchase orders, Electronic funds transfer (EFT), Credit card payments, and Credit terms.',
    },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>



</Layout>

