---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'ISAKA | Consultancy and Procurement Solutions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  id="hero"
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'tel:+27642345962',
        target: '_blank',
        icon: 'tabler:phone',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-containers.jpg', alt: 'ISAKA Hero Image'}}
  
  >
    <Fragment slot="title">
      Reliable Partner in<span class="hidden xl:inline"> Industrial</span>
      <span class="text-accent highlight"> Logistics Solutions</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Leading Supplier of Industrial Consumables, </span>  Hospitality Equipment, PPE, Cleaning
        Supplies, Laundry Equipment, and Mining Machinery</span
      >
      <span class="block mb-1 sm:hidden text-white-light dark:text-white">Leading Supplier of Industrial Consumables</span>
       <!-- Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages
      & Blogs. -->
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="about"
    tagline="About"
    title="What you get with Isaka"
    subtitle="One of the most professional and comprehensive consultants in the sector. Most trusted  service provider in 2024."
    items={[
      {
        title: 'Quality',
        description:
          ' Ensuring top-notch products and services.',
        icon: 'tabler:certificate-2',
      },
      {
        title: 'Customer Service',
        description:
          'Dedicated support for all your needs.',
        icon: 'tabler:user-question',
      },
      {
        title: 'Best Practices',
        description:
          'Enabling low-cost solutions that deliver exceptional experiences.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Environmental Sustainability',
        description:
          'Equitably contributing to climate change and a greener future.',
        icon: 'tabler:tree',
      },
      {
        title: 'Safety & Compliance',
        description:
          "Surpassing industry standards for a more effective supply chain.",
        icon: 'tabler:scan-eye',
      },
      {
        title: 'Innovation & Collaboration',
        description:
          'Fostering innovation, collaboration, and easy supply experiences.',
        icon: 'tabler:military-rank',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="services"
    tagline="Products & Services"
    title="Supplier Excellence, Client Collaboration"
    items={[
      {
        title: 'PPE & Safety Gear',
        description:
          '',
      },
      {
        title: 'Cleaning Supplies',
        description:
          '',
      },
      {
        title: 'Laundry Equipment',
        description:
          '',
      },
      {
        title: 'Mining Machinery',
        description:
          '',
      },
    ]}
    image={{
      src: '~/assets/images/package.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Explore Our Product Range</h3>
      Discover Our Range of Innovative Products and Gain a Competitive Edge
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">____________________</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Just a few simple steps..."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us</span>',
        description:
          "Get in touch with us to discuss your requirements and get started.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose Products & Services</span>',
        description:
          "Select the products and services that best suit your needs.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Get a Quote</span>',
        description:
          "We'll provide you with a customized quote based on your selections.",
        icon: 'tabler:paint',
      },
      {
    
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/steps.jpg',
      alt: 'Steps image',
    }}
  />


   <!-- CallToAction Widget *********** -->

   <CallToAction
   actions={[
     {
       variant: 'primary',
       text: 'Contact Us',
       href: 'https://wa.me/27642345962',
       target: '_blank',
       icon: 'tabler:phone',
     },
   ]}
 >

 
   <Fragment slot="title">
     Ready&nbsp; , &nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Lets talk</span>
   </Fragment>

   <Fragment slot="subtitle">
     What are you waiting for, give us a call and lets get started
   </Fragment>
 </CallToAction>

  <!-- Features2 Widget ************** -->

  <Features2
  id="sectors"
  title="People we serve"
  subtitle="Tailored Solutions for Diverse Industries and Sectors"
  tagline="Sectors"
  items={[
    {
      title: 'Manufacturing',
      description: "Optimize manufacturing processes with tailored solutions and expert guidance, ensuring efficiency and cost-effectiveness.",
      // icon: 'flat-color-icons:factory',
    },
    {
      title: 'Industrial',
      description:
        "Provide comprehensive industrial solutions that drive growth and innovation, tailored to industry-specific challenges.",
      // icon: 'flat-color-icons:organization',
    },
    {
      title: 'Retail',
      description:
        'Empower retail businesses with strategic procurement services and market insights, enhancing competitiveness and success.',
      // icon: 'flat-color-icons:conference-call',
    },
    {
      title: 'Commercial',
      description:
        "Deliver value-driven commercial strategies and procurement expertise that fuel business growth and profitability.",
      //icon: 'flat-color-icons:document',
    },
    {
      title: 'Hospitality',
      description:
        'Elevate the hospitality industry with customized solutions and procurement support, enhancing guest experiences and operational efficiency.',
      //icon: 'flat-color-icons:advertising',
    },
    {
      title: 'Healthcare',
      description: 'Provide healthcare institutions with specialized consultancy and procurement services, ensuring quality care and cost-effectiveness.',
      //icon: 'flat-color-icons:currency-exchange',
    },
    {
      title: 'Consumables',
      description: 'Optimize procurement processes for consumable industries, ensuring timely supply and cost-efficient operations.',
      //icon: 'flat-color-icons:voice-presentation',
    },
    {
      title: 'Education',
      description:
        'Support educational institutions with tailored consultancy services and procurement solutions, fostering academic excellence and growth.',
      //icon: 'flat-color-icons:business-contact',
    },
    {
      title: 'Government',
      description: "Provide government entities with strategic consultancy and procurement support, driving efficiency and public service excellence.",
      //icon: 'flat-color-icons:database',
    },
  ]}

  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

 <!-- Stats Widget ****************** -->

  <Stats
  id="stats"
  tagline="Statistics"
  stats={[
    { title: 'Projects Completed', amount: '300+' },
    { title: 'Revenue', amount: '100M' },
    { title: 'Countries Served', amount: '12' },
    { title: 'Clients Served', amount: '250+' },
  ]}
/>

<!-- Brands Widget ****************** -->

<Brands
title="Standards & Regulations"
subtitle="At Isaka, we believe in the power of sasfety & compliance to drive innovation and create exceptional experiences."
icons={[]}
images={[
  {
    src: 'https://upload.wikimedia.org/wikipedia/commons/6/60/SABS_logo.png',
    alt: 'SABS',
  },
  {
    src: 'https://www.arenasolutions.com/wp-content/uploads/what-is-iso.png',
    alt: 'ISO',
  },
  {
    src: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGE9XYsXfeqZJGPlLcnG6hVlortUQTfpXaHS8gmvmJA&s',
    alt: 'OHSA',
  },
  {
    src: 'https://www.sanas.co.za/Pages/images/sanas-logo.svg',
    alt: 'SANAS',
  },
  {
    src: 'https://satas.co.za/wp-content/uploads/2021/07/SATAS-logo-email.png',
    alt: 'SATAS',
  },
  /* {
    src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
    alt: 'Node JS',
  },
  {
    src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
    alt: 'Google',
  },
  {
    src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
    alt: 'Meta',
  },
  {
    src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
    alt: 'Yahoo',
  }, */
]}
/>

  <!-- HighlightedPosts Widget ******* -->
<!-- 
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  FAQs Widget *******************

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `Isaka's procurement solutions have been invaluable to our organization. Their expertise spans across various sectors, making them a trusted partner for our procurement needs.`,
        name: 'Cary Kennedy',
        job: 'Project Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `I'm impressed by Isaka's ability to understand the unique challenges of different industries. Their tailored approach to procurement has greatly improved our operations.`,
        name: 'Josh Wilkinson',
        job: 'Director',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial: `Working with Isaka has been a game-changer for our business. Their team's professionalism and attention to detail have exceeded our expectations.`,
        name: 'Sidney Hansen',
        job: 'Specialist',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: '-',
      icon: 'tabler:chevron-right',
    }}
  />

 


<Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: 'https://wa.me/27642345962',
    }}
    items={[
      {
        title: 'Email us',
        description: 'info@isakaconsult.co.za',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '076-534-9486',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@isaka_consult',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />


 <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'How can I place an order?',
        description:
          '--answer',
      },
      {
        title: 'What are your shipping options?',
        description:
          '--answer',
      },
      {
        title: 'Do you offer bulk discounts?',
        description:
          '--answer',
      },
      {
        title: 'What payment methods do you accept?',
        description:
          '--answer',
      },
      /* {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      }, */
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>



</Layout>
